<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">Sobre mí</div>
            <p class="paragraph-text justify-text">
               Soy un estudiante de la carrera de Ingenieria en sistemas computacionales, trabajo en soriana soy encargado del departamento de electrónica.
            </p>
            <p class="paragraph-text justify-text">
               Me gusta la musica, la tecnología y la comida :3.
            <p class="paragraph-text justify-text">
               <span class="extra-link"><a href="#extra">Contacto</a></span> 
            </p>
        </div>
    </section>
</div>
